- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-9.ml-sm-auto.col-lg-10.p-3{:role => "main"}
      - content_for :card_header do
        %h5
          = fa_icon "newspaper-o", text: t(controller_name + "." + action_name + '.title')
          - if @retrieval.state != Setting.retrievals.completed && @retrieval.state != Setting.retrievals.canceled 
            = link_to canceled_retrieval_path(@retrieval), :data => {:confirm => "作废后不允许再修改，确定作废吗?"}, :class => "button pull-right button-small button-caution mr-1" do
              = fa_icon "trash-o", text: "作废", right: false 
          - if !@output_items.blank? && @retrieval.state == Setting.retrievals.selected
            = link_to completed_retrieval_path(@retrieval), :data => {:confirm => "出库后不允许再修改，确认出库吗?"}, :class => "button pull-right button-small button-royal mr-1" do
              = fa_icon "paper-plane-o", text: "出库", right: false 
          = link_to "/#{controller_name}", :class => "button pull-right button-primary button-small mr-1" do
            = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false
      - content_for :card_body do
        .container-fluid
          .row
            .col-md-8.offset-2
              .card-body
                .container-fluid
                  .row
                    - if flash[:warning]
                      #error_explanation.alert.alert-danger.alert-dismissible.fade.show
                        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
                          %span{"aria-hidden" => "true"} x 
                        %h2
                          = flash[:warning]
                    -#
                      .col-md-6
                      = image_tag @retrieval.sign_url, :class => "w-100"
                    .col-sm-12
                      %h2.text-center
                        = @retrieval.name
                        = "出库单" 
                    .col-sm-6
                      %p.text-left
                        = "取货人："
                        = @retrieval.dept + ": " + @retrieval.receiver
                    .col-sm-6
                      %p.text-right
                        = @retrieval.outdate.strftime('%Y 年 %m 月 %d 日')
                  .row
                    .col-sm-12
                      %table.text-center.table.table-bordered
                        %thead
                          %tr
                            %th{:scope => "col"} #
                            %th.w-50{:scope => "col"}
                              = Setting.ctg_mtrls.idno
                            %th{:scope => "col"}
                              = Setting.ctg_mtrls.name
                            %th{:scope => "col"}
                              = Setting.ctg_mtrls.model_no
                            %th{:scope => "col"}
                              = Setting.stocks.unit_price
                            %th{:scope => "col"}
                              = Setting.stocks.count
                            %th{:scope => "col"}
                              = Setting.stocks.total_price
                        %tbody
                          - @output_items.each_with_index do |output_item, index|
                            %tr
                              %td{:scope => "row"}
                                = index+1
                            
                              %td
                                = output_item.stock.ctg_mtrl.idno
                              %td
                                = output_item.stock.ctg_mtrl.name
                              %td
                                = output_item.stock.ctg_mtrl.model_no
                              %td
                                = output_item.unit_price
                              %td
                                = output_item.count
                              %td
                                = output_item.total_price
                  .row
                    .offset-10.col-sm-2
                      - if @retrieval.state == Setting.retrievals.completed
                        %h2.text-success.text-center.border.border-success
                          已出库
                      - elsif @retrieval.state == Setting.retrievals.canceled
                        %h2.text-danger.text-center.border.border-danger
                          已作废
                  
      = render "layouts/bootstrap/card"
